{% extends "base.html" %} 
{% block title %}Manage Your Grades{% endblock %}

{% block content %}

<div class="container">
  <form method="POST">
    <br>
    <h1>Manage your grades</h1>
    <br>
    <br>

    <p>Enter the type of yourse you did</p>
    <select class="form-select orm-select-padding-0-sm" aria-label="Course type" id="coursetype">
      <option selected>Course</option>
      <option value="GCSE">GCSE</option>
      <option value="BTEC">BTEC</option>
      <option value="Other">Other</option>
    </select>

    <br>
    <p>Enter your board behind your course </p>
    <select class="form-select orm-select-padding-0-sm" aria-label="Board name" id="boardname">
      <option value="not_selected" selected>Board</option>
      <option value="GCSE">Edexcel</option>
      <option value="BTEC">OCR</option>
      <option value="Other">WJEC (Eduqas)</option>
      <option value="Other">AQA</option>
    </select>

    <br>
    <div class="form-group">
      <label for="lname">Enter the name of your course</label>
      <input 
        type="text" 
        class="form-control" 
        id="lname" 
        name="lname" 
        placeholder="Enter Last Name" />
    </div>

    <br>
    <p>What grade did you achieve</p>
    <select class="form-select orm-select-padding-0-sm" aria-label="Grade score" id="grade_score">
      <option value="not_selected" selected>Select a grade</option>
      <option value="pending" >Pending</option>
      <option value="one">1</option>
      <option value="two">2</option>
      <option value="three">3</option>
      <option value="four">4</option>
      <option value="five">5</option>
      <option value="six">6</option>
      <option value="seven">7</option>
      <option value="eight">8</option>
      <option value="nine">9</option>
      <option value="merit">Merit</option>
      <option value="disti">Distinction</option>
      <option value="pass">Pass</option>
    </select>
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script src="{{ url_for('static', filename='manage_grades.js') }}">
  
</script>

<!--
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">Left</button>
    <button type="button" class="btn btn-secondary">Middle</button>
    <button type="button" class="btn btn-warning">Right</button>
  </div>
-->

{% endblock %}
