{% extends "base.html" %} 
{% block title %}Welcome, {{user.firstname}}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Search for your school</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="search" class="form-control" />
          <label class="form-label" for="search">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>Set up your account</h3>
      <p>Enter your grades (and some things about yourself)</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>


{% endblock %}